[data-theme='dark'] {
  --color-primary: 74, 222, 128; /* example emerald-400 */
  --color-text-default: 229, 231, 235; /* example gray-200 */
  --color-background-default: 31, 41, 55; /* gray-800 */
}