@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	/* 
	Background/light: #EDE4D5
	Accent/red: #C24A48
	Text: #1C0D0C 
	*/
	color-scheme: light;
	color: #1C0D0C;
	background-color: #EDE4D5;
	

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}