@import "tailwindcss";

@theme {
	--color-primary: var(--primary);
	--color-background: var(--background);
	--color-text: var(--text);
	--color-text-opaque: var(--text-opaque);
	--color-button: var(--button);
	--color-card: var(--card);
	--color-card-sub: var(--card-sub);
	--color-text-opposite: var(--text-opposite);
	--color-opposite: var(--opposite);
	--color-muted: var(--muted);
}

:root {
	--muted: #F0EDEB;
	--primary: #C24A48;
	--opposite: #1C0D0C;
	--background: #faf1de;
	--text: #1C0D0C;
	--text-opposite: #F0EDEB;
	--text-opaque: #4a5565;
	--button: #F9F6EE;
	--card: #FFF9EF;
	/* --card-sub: #F4EADB; */
}

.dark {
	--muted: #B5AA9A;
	--primary: #4AC2B1;
	--opposite: #F0EDEB;
	--background: #1C1C1C;
	--text: #F0EDEB;
	--text-opposite: #1C0D0C;
	--text-opaque: #B5AA9A;
	--button: #0A0C1A;
	--card: #242424;
	/* --card-sub: #2E2E2E; */
}